@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-background: #FFFFFF;
  --c-text: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-background: #222222;
    --c-text: #FFFFFF;
  }
}

body {
  background: var(--c-background);
  color: var(--c-text);
}

.Standard-button {
  @apply outline outline-1 -outline-offset-1 w-40 h-9 rounded-md text-center flex items-center justify-center uppercase text-xs;
}

.Standard-container {
  @apply rounded-md outline outline-1 outline-gray-900 -outline-offset-1;
}