@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-background: #FAF7F2;
  --c-text: #2B2B2A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-background: #2B2B2A;
    --c-text: #FAF7F2;
  }
}

body {
  background: var(--c-background);
  color: var(--c-text);
}

.Standard-button {
  @apply outline outline-1 -outline-offset-1 w-40 h-9 rounded-md text-center flex items-center justify-center uppercase text-xs;
}

.Standard-container {
  @apply rounded-md outline outline-1 outline-gray -outline-offset-1;
}